{#=====================================================
  Base template
  - Used as the basis of all regular pages
  - Provides a main heading and navigation menu
  - Has blocks for the page title and main content
  - Loads PicoCSS and Pico Colours
  - Loads a user stylesheet
  - Loads JS utility functions
  - Includes block for flash messages
=====================================================#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description">
        <meta name="keywords">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/images/icon.svg">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script src="/static/js/utils.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.red.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_2,check_box,check_box_outline_blank,description,group_add,person_add,star" />
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if session.logged_in %}
                        <li>
                            <a href="/">Projects</a>
                        </li>
                    {% endif %}
                    {% block nav_left %}
                    {% endblock nav_left %}
                </ul>
                <ul aria-label="breadcrumb">
                    <li>
                        <h3>
                            <strong><a href="/">TaskForge</a></strong>
                        </h3>
                    </li>
                    {% block nav_centre %}
                    {% endblock nav_centre %}
                </ul>
                <ul>
                    {% if session.logged_in %}
                        {#
                            Eventually we want to display the users icon, and clicking that will
                            open a dropdown menu with the button to sign out.
                         #}
                        <li>
                            <a href="/user/logout">Sign Out</a>
                        </li>
                        <li>{{ session.username }}</li>
                    {% else %}
                        <li>
                            <a href="/user/login">Sign In</a>
                        </li>
                        <li>
                            <a href="/user/register">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {# Show flash messages from any previous events #}
        {% include "components/messages.jinja" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {# Show debug info. Comment this out if not needed #}
        {% include "components/debug.jinja" %}
    </body>
</html>
