{#=====================================================
  Base template
  - Used as the basis of the main interface
  - Differs to base.jinja in that it loads a fluid viewport version of PicoCSS
=====================================================#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/images/icon.svg">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script src="/static/js/utils.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.sand.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <strong><a href="/">TaskForge</a></strong>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/things">Things</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    {% if session.user_id %}
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {# Show flash messages from any previous events #}
        {% include "components/messages.jinja" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {# Show debug info. Comment this out if not needed #}
        {% include "components/debug.jinja" %}
    </body>
</html>
