{#=====================================================
  User Login page
  - Form for logging in
=====================================================#}
{% extends "pages/base.jinja" %}
{% block title %}
    TaskForge - Login
{% endblock title %}
{% block content %}
    <div id="fluid">
        <article>
            <header>
                <h2>Sign In</h2>
            </header>
            <form action="/login-user" method="post">
                <input type="text"
                       name="username"
                       placeholder="Username"
                       autocomplete="username"
                       required>
                <input type="password"
                       name="password"
                       placeholder="Password"
                       autocomplete="current-password"
                       required>
                <button>Sign In</button>
            </form>
            <footer>
                Or, if you don't have an account, <a href="/register">sign up</a>
            </footer>
        </article>
    </div>
{% endblock content %}
